<a href="https://colab.research.google.com/github/ashish-3916/machine-learning-/blob/main/3.Multivariable%20LR/complex_boundries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
from sklearn import datasets
boston =  datasets.load_boston()
X1 = boston.data #input
Y2 = boston.target #output

import pandas as pd
df = pd.DataFrame(X)
df.columns = boston.feature_names

#adding new feature
sz =  df.shape[1]
for i in range (1 , sz ):
  for j in range (i , sz):
    s =  df.columns[i] + "_" + df.columns[j] # column name 
    df[s] = df[df.columns[i]]*df[df.columns[j]]
  
X2 =  df.values
df.head()

      CRIM    ZN  INDUS  ...          B_B    B_LSTAT  LSTAT_LSTAT
0  0.00632  18.0   2.31  ...  157529.6100  1976.5620      24.8004
1  0.02731   0.0   7.07  ...  157529.6100  3627.6660      83.5396
2  0.02729   0.0   7.07  ...  154315.4089  1583.1049      16.2409
3  0.03237   0.0   2.18  ...  155732.8369  1160.2122       8.6436
4  0.06905   0.0   2.18  ...  157529.6100  2115.4770      28.4089

[5 rows x 91 columns]

In [82]:
from sklearn import model_selection
X1_train , X1_test , Y_train , Y_test = model_selection.train_test_split(X1,Y, random_state = 0)
X2_train , X2_test , Y_train , Y_test = model_selection.train_test_split(X2,Y, random_state = 0)
from sklearn.linear_model import LinearRegression
algo1 =  LinearRegression()
algo2 =  LinearRegression()

In [83]:
algo1.fit(X1_train , Y_train)
algo2.fit(X2_train , Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [84]:
Y1_pred = algo1.predict(X1_test)
Y2_pred = algo2.predict(X2_test)

In [85]:
X1_train_score = algo1.score(X1_train ,Y_train)
X1_test_score = algo1.score(X1_test ,Y_test)

X2_train_score = algo2.score(X2_train ,Y_train)
X2_test_score = algo2.score(X2_test ,Y_test)

print("train and test score for original dataset is : " , X1_train_score , X1_test_score)
print("train and test score for modified dataset is : " , X2_train_score , X2_test_score)

train and test score for original dataset is :  0.7697699488741149 0.635463843320211
train and test score for modified dataset is :  0.9492002937354704 0.555427390611269

we can see that modified data is overfitted as we increased the no of features  , currently we have all possible comination of 2degree feature , and we have poor performance on testing data